@import "http://weloveiconfonts.com/api/?family=fontawesome";
body {
  padding: 1.5em;
  margin: 0;
  background: #666;
  font-family: Verdana;
}

h2, h3, h4 {
  font-family: Verdana;
  margin-bottom: 0.15em;
    color: #fff;
}

#defaultCanvas {
  border-radius: 4px;
}

.comments {
  width: 560px;
  background: #c8af96;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
}

#controls {
    max-width: 560px;
    width: 100%;
    min-width: 300px;
    float: left;
}