.comments, #controls {
          width: 300px;
          background: #555;
    border: solid 2px #444;
          padding: 10px 20px;
          margin-top: 10px;
          border-radius: 4px;
          float: left;
 }

#sketch01 {
 float: left;
    margin: 10px 10px 0 0;
}