@import "http://weloveiconfonts.com/api/?family=fontawesome";
body {
    padding: 1.5em;
    margin: 0;
    background: #666;
    font-family: Verdana;
}

h2,
h3,
h4 {
    font-family: Verdana;
    margin-bottom: 0.15em;
    color: #fff;
}

.p5_hidden {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 4px;
    border: solid 2px #000
}

#controls {
    width: 100%;
    min-width: 300px;
    float: left;
}

#sketchWindows {
    width: 600px;
    max-width: 100%;
    padding: 0;
    margin: 0;
    float: left;
}

#sketchWindows div {
    float: left;
    margin: 1em 15px 0 5px;
}
